<!doctype html>
  <head>
    <title>Crossfire Mapper - {% block title %}{% endblock %}</title>
  </head>
  <body data-root="{{ path_to_root }}">
    {% block contents %}
    {% endblock %}
    {% if has_search %}
    <script src='{{ link_to_page("lunr.js") }}'></script>
    <script src='{{ link_to_page("search_data.js") }}'></script>
    <script src='{{ link_to_page("search_index.js") }}'></script>

    <input type="text" id="search_text" />
    <select id="search_what">
      <option value="">everything</option>
    </select>
    <button type="button" id="search_button">Search</button>
    <div id="search_results">
    </div>

    <script src='{{ link_to_page("search.js") }}'></script>
    {% endif %}
  </body>
</html>
